<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Especifica que todas as requisições devem ser gerenciadas pelo Node.js -->
      <add name="iisnode" path="index.mjs" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Redireciona todas as requisições para index.js -->
        <rule name="Node.js Rewrite" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="index.mjs" />
        </rule>
      </rules>
    </rewrite>
    <!-- Ativa logs detalhados para depuração -->
    <iisnode loggingEnabled="true" />
  </system.webServer>
</configuration>
